<footer class="footer">
  <a href="#header" class="footer__icon">
    <img src="./assets/images/ico-arrow.svg" alt="Flecha hacia arriba">
  </a>
  <div class="menu">
    <nav class="menu__info">
      <a href="https://adalab.es/" target="_blank" class="menu__info__link">Articles</a>
      <a href="https://adalab.es/" target="_blank" class="menu__info__link">Books</a>
      <a href="https://adalab.es/" target="_blank" class="menu__info__link">Events</a>
      <a href="https://adalab.es/" target="_blank" class="menu__info__link">Reasons</a>
      <a href="https://adalab.es/" target="_blank" class="menu__info__link">Tips</a>
    </nav>
    <nav class="menu__media">
      <a href="https://adalab.es/" target="_blank" class="menu__media__link">Twitter</a>
      <a href="https://adalab.es/" target="_blank" class="menu__media__link">Instagram</a>
      <a href="https://adalab.es/" target="_blank" class="menu__media__link">Mastodon.social</a>
    </nav>
    <nav class="menu__copy">
      <p>&copy;2022</p>
      <p>We <span class="menu__copy__heart">&#10084;</span> components</p>
    </nav>
  </div>
</footer>