<footer class="footer">
    <a href="#header">
        <button class="footer__button">
            <img src="./assets/images/ico-arrow.svg" alt="Flecha hacia arriba">
        </button>
    </a>
  <section class="footer__info">
    <a href="https://adalab.es/" target="_blank" class="footer__info__link">Articles</a>
    <a href="https://adalab.es/" target="_blank" class="footer__info__link">Books</a>
    <a href="https://adalab.es/" target="_blank" class="footer__info__link">Events</a>
    <a href="https://adalab.es/" target="_blank" class="footer__info__link">Reasons</a>
    <a href="https://adalab.es/" target="_blank" class="footer__info__link">Tips</a>
  </section>
  <section class="footer__media">
    <a href="https://adalab.es/" target="_blank" class="footer__media__link">Twitter</a>
    <a href="https://adalab.es/" target="_blank" class="footer__media__link">Instagram</a>
    <a href="https://adalab.es/" target="_blank" class="footer__media__link">Mastodon.social</a>
  </section>
  <section class="footer__copy">
    <p>&copy;2022</p>
    <p>We <span class="footer__copy__heart">&#10084;</span> components</p>
  </section>
</footer>
