<section class="header">
    <a href="https://adalab.es/" target="_blank" class="header__menu">
        <img src="./assets/images/ico-menu.svg" alt="menú" class="header__menu__image">
    </a>
    <section class="hero">
        <h1 class="hero__h1">Anonymous proxy</h1>
        <h2 class="hero__h2">In hac habitasse platea dictumst.</h2>
        <button class="hero__button">
            <img src="./assets/images/ico-scroll-down.svg" alt="Flecha hacia abajo">
        </button>
    </section>
</section>