<section class="section-2" id="section-2">
    <h4 class="section-2__title">
        3 reasons to purchase
    </h4>
    <section class="section-2__grid">
        <section>
            <p class="section-2__grid__title">
                Ut sed metus
            </p>
            <p class="section-2__grid__text">
                Lorem ipsum dolor sit amet consectetur.
            </p>
        </section>
        <section>
            <p class="section-2__grid__title">
                Curabitur ac erat
            </p>
            <p class="section-2__grid__text">
                Mauris mattis urna quis lorem molestie.
            </p>
        </section>
        <section>
            <p class="section-2__grid__title">
                Morbi dictum
            </p>
            <p class="section-2__grid__text">
                Aliquam in dolor et dolor tincidunt.
            </p>
        </section>
        <section>
            <button class="section-2__grid__button">More reasons</button>
        </section>
    </section>
</section>