:root {
    --header-footer-font-color: white;
    --title-font: "Roboto Slab", serif;
    --regular-font: "Roboto", sans-serif;
    --ice-blue-section2: #eff9ff;
    --dark-blue-footer: #304268;
  }