:root{
    --font-color: white;
    font-family:'Roboto', sans-serif;
}
.footer{
    background-color: #304268;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__button{
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid white;
        background-color: white;
        transform: translateY(-50%);
        cursor: pointer;
    }
    &__info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 124px;
        padding-right: 124px;
        margin-top: 22px;
        &__link{
            text-transform: uppercase;
            color: var(--font-color);
            text-decoration: none;
            font-size: 16px;
            line-height: 1.88;
            font-weight: 400;
            padding-left: 37px;
            padding-right: 37px;
        }
    }
    &__media{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 87px;
        padding-right: 87px;
        margin-top: 30px;
        &__link{
            text-transform: uppercase;
            color: var(--font-color);
            text-decoration: none;
            font-size: 16px;
            line-height: 1.88;
            font-weight: 400;
        }
    }
    &__copy{
        color: var(--font-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 32px;
        padding-bottom: 36px;
        line-height: 2.14;
        &__heart{
            color:#f26002;
        }
    }
}