:root {
  --font-color: white;
  font-family: "Roboto", sans-serif;
}
.footer {
  background-color: #304268;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media all and (min-width: 768px){
    padding-right: 39px;
    padding-left: 39px;
    padding-bottom: 40px;
    align-items: normal;
}
  &__icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: white;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media all and (min-width: 768px){
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
    }
    @media all and (min-width: 1200px){
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
    }
    &__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 124px;
      padding-right: 124px;
      margin-top: 22px;
      @media all and (min-width: 768px){
        padding-right: 0px;
        padding-left: 0px;
        order: 2;
        align-items: flex-start;
        justify-content:flex-start;
        margin-top: 0px;
    }
      &__link {
        text-transform: uppercase;
        color: var(--font-color);
        text-decoration: none;
        font-size: 16px;
        line-height: 1.88;
        font-weight: 400;
        padding-left: 37px;
        padding-right: 37px;
      }
    }
    &__media {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-left: 87px;
      padding-right: 87px;
      margin-top: 30px;
      @media all and (min-width: 768px){
        padding-right: 0px;
        padding-left: 0px;
        order: 3;
        align-items: flex-start;
        justify-content:flex-start;
        margin-top: 0px;
    }
      &__link {
        text-transform: uppercase;
        color: var(--font-color);
        text-decoration: none;
        font-size: 16px;
        line-height: 1.88;
        font-weight: 400;
      }
    }
    &__copy {
      color: var(--font-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 32px;
      padding-bottom: 36px;
      line-height: 2.14;
      @media all and (min-width: 768px){
        order: 1;
        align-items: flex-start;
        justify-content:flex-start;
        padding-top: 0px;
      }
      order: 1;
      &__heart {
        color: #f26002;
      }
    }
  }
}
