
.header {
  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0271bc;
    height: 25px;
    width: 25px;
    cursor: pointer;
    &__image {
      padding: 4px;
    }
  }
  .hero {
    height: 100vh;
    background-image: url(../../assets/images/cover.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media all and (min-width: 768px) {
      justify-content: end;
    }
    &__h1 {
      font-size: 42px;
      color: var(--header-footer-font-color);
      font-weight: bold;
      font-family: var(--title-font);
      word-spacing: 100vh;
      text-align: center;
      text-transform: uppercase;
      line-height: 1.33;
      letter-spacing: 1.5px;
      padding-top: 300.3px;
      @media all and (min-width: 768px) {
        font-size: 80px;
        padding-top: 220.3px;
      }
      @media all and (min-width: 1200px) {
        font-size: 100px;
      }
    }
    &__h2 {
      font-size: 16px;
      color: var(--header-footer-font-color);
      font-family: var(--regular-font);
      margin-left: 33.9px;
      margin-right: 42.8px;
      padding-top: 20px;
      @media all and (min-width: 768px) {
        font-size: 24px;
        width: 300px;
      }
      @media all and (min-width: 1200px) {
        width: 100%;
        text-align: center;
        margin-bottom: 34px;
      }
    }
    &__icon {
      margin-top: 20px;
      width: 37.9px;
      height: 37.9px;
      border-radius: 50%;
      background-color: white;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      @media all and (min-width: 768px) {
        width: 45px;
        height: 45px;
        margin-top: 5px;
        margin-bottom: 45px;
      }
      @media all and (min-width: 1200px) {
        margin-bottom: 13px;
      }
    }
  }
}
