.section-2 {
  background-color: var(--ice-blue-section2);
  padding: 29px 15px 50px;
  @media all and (min-width: 768px) {
    padding: 36px 40px 50px 35.7px;
  }
  @media all and (min-width: 1200px) {
    padding: 61px 85px 50px 81.2px;
  }
  &__title {
    font-family: var(--title-font);
    font-weight: 800;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
    @media screen and (min-width: 768px) {
      font-size: 26px;
    }
    @media screen and (min-width: 1200px) {
      font-size: 32px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    text-align: center;
    @media screen and (min-width: 768px) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      text-align: center;
      column-gap: 30px;
    }
    &__title {
      padding-top: 49px;
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 1.67;
      font-weight: 800;
      @media screen and (min-width: 768px) {
        padding-top: 38px;
        font-size: 24px;
      }
    }
    &__text {
      font-family: var(--regular-font);
      font-size: 18px;
      line-height: 1.67;
      @media screen and (min-width: 768px) {
        font-size: 20px;
      }
    }
    &__link {
      width: 184px;
      height: 45px;
      background-color: #f26002;
      color: white;
      border-radius: 22.5px;
      font-size: 20px;
      font-family: var(--regular-font);
      cursor: pointer;
      text-decoration: none;
      line-height: 44px;
      margin: auto;
      margin-bottom: 50px;
      margin-top: 41px;
      &:hover {
        transition: all 1000ms;
        transform: scale(0.5);
      }
      @media screen and (min-width: 768px) {
        margin-bottom: 60px;
        grid-column: span 3;
        margin-top: 57px;
        width: 210px;
      }
      @media screen and (min-width: 768px) {
        width: 255px;
        text-transform: capitalize;
      }
    }
  }
}
