:root {
  --title-font: "Roboto Slab", serif;
  --regular-font: "Roboto", sans-serif;
}
.section-1 {
  padding: 25px 15px 0px 15px;
  @media all and (min-width: 768px) {
    padding-left: 39px;
    padding-right: 39px;
  }
  @media all and (min-width: 1200px) {
    padding-left: 275px;
    padding-right: 275px;
  }
  &__p {
    padding-top: 37px;
    padding-bottom: 10px;
    font-family: var(--regular-font);
    color: #8ccbea;
    font-size: 14px;
    @media all and (min-width: 1200px) {
      font-size: 16px;
    }
  }
  &__title {
    font-size: 24px;
    font-family: var(--title-font);
    font-weight: 800;
    text-transform: capitalize;
    line-height: 1.25;
    @media all and (min-width: 768px) {
      font-size: 26px;
    }
    @media all and (min-width: 1200px) {
      font-size: 32px;
    }
  }
  &__subtitle {
    padding-top: 20px;
    font-family: var(--regular-font);
    color: #4a4a4a;
    font-size: 18px;
    line-height: 1.67;
    @media all and (min-width: 768px) {
      padding-top: 27px;
      font-size: 20px;
    }
    @media all and (min-width: 1200px) {
      padding-top: 32px;
      font-size: 20px;
    }
  }
  &__button {
    border: 2px solid #f26002;
    background-color: white;
    border-radius: 22.5px;
    height: 45px;
    width: 76px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: 26px;
    &:hover {
      transition: all 2s;
      opacity: 0.1;
      transform: rotate(1080deg);
    }
    @media all and (min-width: 768px) {
      margin-bottom: 60px;
    }
    @media all and (min-width: 1200px) {
      width: 160px;
    }
    &__link {
      text-decoration: none;
      font-size: 20px;
      font-family: var(--regular-font);
      font-weight: 500;
      color: #f26002;
    }
  }
}
